@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #1c1e53;
    transition: color 0.3s ease;
}

h5{
    font-size: 20px;
}

li{
    list-style: none;
}

nav{
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    position: sticky;
    top: 0;
    padding: 0 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);
}

.logo a {
    color: #00b51b;
    transition: color 0.4s;
}

.logo a:hover {
    color: #00670f;
}

nav .logo,
footer .logo{
    display: flex;
    align-items: center;
}

nav .logo a,
footer .logo a{
    margin-left: 8px;
    font-weight: bold;
    font-size: 20px;
}

nav .logo img {
    width: 40px;
    height: 40px;
    transition: all 0.5s ease;
}

nav .logo img:hover {
    transform: scale(1.2) rotate(360deg);
}

nav ul,
footer .top ul{
    display: flex;
    gap: 40px;
}

nav ul li a:hover {
    color: #00af1d !important;
}

nav button{
    color: #1c1e53;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #1c1e53;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav button:hover{
    background-color: #61e565;
    border-color: #036e1a;
    color: #fff;
}

nav button#menuButton{
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 7px;
}

.main{
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 30px;
    background-color: #c2eedb;
    padding: 90px 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.main .container-icons {
    margin-top: 10px;
    display: flex;
    gap: 30px;
}

.main .container-icons .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 22px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s; 
}

.main .container-icons .icon:hover {
    transform: scale(1.2);
}

.main .container-icons .icon i{
    font-size: 37px;
}

#html {
    color: #DC5D02;
}

#java {
    color: #002ead;
}

#android {
    color: #8DC900; 
}

#fb {
    color: #FCE301;
}

/*
.blur {
    position: absolute;
    box-shadow: 0 0 1000px 100px #000000;
    z-index: -100;
}
*/

.main .left{
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: transform 0.3s; 
}

.main .left h5,
.main .left h3 {
    transition: transform 0.3s; 
}

.main .left h5:hover,
.main .left h3:hover {
    transform: scale(1.1);
}

.main .left h3{
    margin-top: 10px;
    font-weight: bold;
    font-size: 46px;
}

.main .left h3 span{
    color: #009f18;
}

.main .left p{
    color: #1c1e53;
    font-size: 22px;
    margin-top: 20px;
}

.skills{
    padding: 110px 85px 0;
}

a {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: "Ubuntu", sans-serif;
}

.skills h3,
.about .right h3{
    font-size: 40px;
    margin-top: 20px;
}

.skills .skill-items{
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.skills .skill-items .item{
    background-color: #c2eedb;
    width: 25%;
    border-radius: 10px;
    padding: 32px;
    border-bottom: 8px solid transparent;
    cursor: pointer;
    transition: all 0.5s ease;
}

.skills .skill-items .item:hover{
    transform: scale(1.1);
    border-color: #34a94d;
    background-color: #9cd0b9;
}

.skills .skill-items .item .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 46px;
    height: 46px;
    border-radius: 10px;
    margin-bottom: 22px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.skills .skill-items .item .icon i{
    font-size: 26px;
    color: #34a94d;
}

.skills .skill-items .item h4{
    font-size: 18px;
}

.skills .skill-items .item p{
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #1c1e53;
}

.about{
    padding-top: 50px;
    padding-bottom: 110px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.about .left{
    background-color: #c2eedb;
    border-radius: 10px 10px 0 0;
}

.about .left img{
    width: 440px;
}

.about .right p{
    font-family: 'Roboto', sans-serif;
}

.about-me-container {
    margin-top: 50px;
    width: auto;
    height: auto;
    background-color: #c2eedb;
    padding: 50px;
    border-radius: 20px;
    transition: transform 0.4s; 
}

.about-me-container:hover {
    transform: scale(1.05);
}

footer{
    background-color: #c2eedb;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

footer .top,
footer .bottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .bottom p{
    font-size: 12px;
}

footer .bottom .links a{
    font-size: 12px;
    margin-left: 14px;
}

.links a:hover{
    color: #ee3bb5 !important;
}

footer .bottom .links{
    gap: 30px;
    font-size: 12px;
    margin-left: 14px;
    align-items: center;
    justify-content: center;
}

.pp {
    padding: 40px;
    margin-top: 150px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 1200px) {
    
    .main .left h5{
        font-size: 18px;
    }

    .main .left h3{
        font-size: 36px;
    }

    .main .left p{
        font-size: 18px;
    }

    .main .right img{
        width: 380px;
    }

    .skills .skill-items{
        gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .skills .skill-items .item{
        width: 49%;
    }

    .about .left img{
        width: 370px;
    }

    .skills h3,
    .about .right h3{
        font-size: 32px;
    }

    .about .right p{
        font-size: 15px;
    }

    footer .top ul{
        gap: 20px;
    }

}

@media screen and (max-width: 992px) {
    
    nav button{
        display: none;
    }

    nav ul{
        gap: 20px;
    }

    nav ul li a{
        font-size: 15px;
    }

    .main{
        flex-direction: column;
    }

    .about{
        flex-direction: column;
        justify-content: center;
    }

    footer .top ul{
        display: none;
    }

}

@media screen and (max-width: 768px) {
    
    nav{
        justify-content: space-between;
        padding: 0 42px;
    }

    nav ul{
        display: none;
    }

    nav.open .logo{
        display: none;
    }

    nav.open ul{
        display: flex;
    }

    nav button#menuButton{
        display: flex;
    }

    .main{
        padding: 42px;
    }

    .skills{
        padding: 85px 42px 0;
    }

    .skills .skill-items{
        gap: 8px;
    }

    .about{
        padding-top: 50px;
        padding-bottom: 110px;
    }


    footer{
        padding: 85px 42px;
    }

    footer .bottom{
        flex-direction: column-reverse;
        gap: 14px;
    }

}

@media screen and (max-width: 576px) {
    
    nav ul li a{
        font-size: 13px;
    }

    nav .logo a{
        font-size: 18px;
    }

    .main .left h3{
        font-size: 32px;
    }

    .main .left p{
        font-size: 16px;
    }

    .main .left button{
        width: 100%;
    }

    .skills .skill-items .item{
        width: 100%;
    }
}

@media screen and (max-width: 470px) {
    
    nav ul li a{
        font-size: 13px;
    }

    nav .logo a{
        font-size: 18px;
    }

    .main .left h3{
        font-size: 32px;
    }

    .main .left p{
        font-size: 16px;
    }

    .main .left button{
        width: 100%;
    }

    .skills .skill-items .item{
        width: 100%;
    }

    .main {
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 20px;
    }
}

@media screen and (max-width: 400px) {
    
    nav ul li a{
        font-size: 13px;
    }

    nav .logo a{
        font-size: 18px;
    }

    .main .left h3{
        font-size: 32px;
    }

    .main .left p{
        font-size: 16px;
    }

    .main .left button{
        width: 100%;
    }

    .skills .skill-items .item{
        width: 100%;
    }

    .main .container-icons .icon {
        width: 55px;
        height: 55px;
    }

    .main .container-icons .icon i{
        font-size: 27px;
    }

    .main .container-icons {
        gap: 25px;
    }
}

@media screen and (max-width: 320px) {
    
    nav ul li a{
        font-size: 13px;
    }

    nav .logo a{
        font-size: 18px;
    }

    .main .left h3{
        font-size: 32px;
    }

    .main .left p{
        font-size: 16px;
    }

    .main .left button{
        width: 100%;
    }

    .skills .skill-items .item{
        width: 100%;
    }

    .main .container-icons .icon {
        width: 45px;
        height: 45px;
    }

    .main .container-icons .icon i{
        font-size: 20px;
    }

    .main .container-icons {
        gap: 15px;
    }
}